.login-page {
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  background-color: #fff; /* สีพื้นหลัง */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* เงาที่ดูพรีเมียม */
  border-radius: 20px; /* ขอบมน */
  text-align: center; /* จัดให้อยู่ตรงกลาง */
  font-family: "Arial", sans-serif;
}

.login-page h1 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 30px;
  color: #333;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
  text-align: left; /* จัดข้อความชิดซ้าย */
}

.form-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #f15a24; /* สีแดง */
  border-radius: 30px; /* ขอบมน */
  outline: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.form-input:focus {
  border-color: #e37d5e; /* สีเมื่อโฟกัส */
  box-shadow: 0 0 8px rgba(241, 90, 36, 0.5);
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #f15a24; /* สีส้ม */
  color: #ffff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px; /* ขอบมน */
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.login-button:hover {
  background-color: #e37d5e; /* สีแดงเข้มเมื่อ hover */
  box-shadow: 0 4px 10px rgba(241, 90, 36, 0.3);
}

.shop-button {
  width: 100%;
  padding: 12px;
  background-color: #f15a24; /* สีส้ม */
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 30px; /* ขอบมน */
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 15px;
}

.shop-button:hover {
  background-color: #e37d5e; /* สีแดงเข้มเมื่อ hover */
  box-shadow: 0 4px 10px rgba(241, 90, 36, 0.3);
}

.login-page p {
  margin-top: 20px;
  color: #333;
  font-size: 14px;
}

.login-page a {
  color: #f15a24;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.login-page a:hover {
  color: #e37d5e; /* สีแดงเข้มเมื่อ hover */
  text-decoration: underline;
}

.error-container {
  margin-top: 8px;
  text-align: center;
}

.error-text {
  color: #f44336;
  background-color: #ffebee; 
  border: 1px solid #f44336;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px; 
  font-weight: 500; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 90%;
  margin: auto;
}

